<!--Validando a Tasklist, criando uma ação caso o componente esteja vazio -->

<section [ngClass] ="{'loading': !taskList.length}">
  <ul *ngIf="taskList.length">
    <li *ngFor="let item of taskList; let i = index">
      <input type="checkbox" [(ngModel)]="item.checked" />
      <input type="text" [(ngModel)]="item.task" />
      <button (click)="deleteItemTaskList(i)">
        <img src="assets/icons/Vector.svg" alt="Lixeira" />
      </button>
    
    </li>

   <!-- <li>
      <input type="checkbox" />
      <input type="text" />
      <button type="">
        <img src="assets/icons/Vector.svg" alt="Lixeira" />
      </button>
    </li> -->
  </ul>
</section>

<app-todo-input-add-itens (emitItemTaskList)="setEmitTaskList($event)"></app-todo-input-add-itens>
<!--Desativando o delete quando a lista está vazia-->
<app-todo-button-delete-all *ngIf="taskList.length" (click)="deleteAllTaskList()"></app-todo-button-delete-all>
